<!DOCTYPE html>
<html>
<body>
    <head>
        <title>Job Listing </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body background-image="https://ooo.0o0.ooo/2017/01/17/587dc43092cef.png">
      <div id="wrap">
        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= yield %>
        </div>
        <div id="push"></div>
      </div>
        <div id="footer">

        <%= render "common/footer" %>
</div>
    </body>
  </body>
  <style type="text/css">
  body
  {
    background-image:url('https://ooo.0o0.ooo/2017/01/17/587dc43092cef.png');
    background-attachment:fixed;
    background-size: cover;
  }
  </style>
</html>
